/* feed -------------------------- */
.wrapper {
  margin: 0 auto;
  width: 75%;
  max-width: 800px;
  min-width: 350px;
  cursor: pointer;
}

.cards-container {
  margin: 40px 0 0 0;
}

.cards {
  padding: 10px 0 0 0;
}

.reactBootstrap-card {
  color: #000000;
}

.reactBootstrap-card:hover {
  box-shadow: 0 0 10px #000000;
}



/* navbar ------------------------ */

.links{
  color: lightgray;
  text-decoration: none; /* no underline */
}

.links:hover{
  color: white;
  text-decoration: none; /* no underline */
}

.logo {
  width: 3%;
  padding: 0;
  margin: 0;
}