/* feed -------------------------- */
.wrapper {
  margin: 0 auto;
  width: 75%;
  max-width: 800px;
  min-width: 350px;
}

.cards-container {
  margin: 40px 0;
}

.cards {
  padding: 24px 0 0 0;
}

.reactBootstrap-card {
  color: #000000;
  box-shadow: 0 0 3.5px gray;
}

.reactBootstrap-card:hover {
  box-shadow: 0 0 1px gray;
}

.feed-profile-image {
  width: 40px;
  height: auto;
  border-style:solid;
  border-width: 1px;
}

.tools {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 15px;
}

/* navbar ------------------------ */

.links{
  color: lightgray;
  text-decoration: none; /* no underline */
}

.links:hover{
  color: white;
  text-decoration: none; /* no underline */
}

.logo {
  width: 3%;
  padding: 0;
  margin: 0;
}

/* post -------------------------- */


.post-card {
  margin:30px 0;  
  box-shadow: 0 0 5px gray;
}

/* authentication ---------------- */

.auth-container {
  width: 15px;
  margin: 120px auto;
  max-width: 1000px;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  box-shadow: 0 0 3px gray;
  padding: 25px;
  border-radius: 6px;
}
